body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: blue;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
    body,html {
        overflow: auto;
    }
  }

.container {
  width: 92%;
  margin-left: 8%;
  margin-top: 5%;
}

.form {
  width: 50vh;
  height: 80vh;
  display: grid;
  justify-content: center;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  box-shadow: -5px 5px 5px 1px rgba(0, 0, 0, 0.85);
  float: left
}

.list {
  width: 130vh;
  height: 80vh;
  background-color: white;
  display: grid;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px #000000;
}

#myfile {
    margin-bottom: 10px;
}

.styled-input {
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 1px 1px #000000;
  padding-left: 10px;
  padding-right: 10px;
}

#dropdown {
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 1px 1px #000000;
  padding-left: 10px;
  padding-right: 10px;
}

#table {
  width: 120vh;
}

td {
  text-align: center;
}

.styled-buttons {
  height: 35px;
  width: 130px;
  margin: auto;
  margin-bottom: 20px;
  border: none;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.styled-buttons:hover {
  box-shadow: 0px 0px 1px 1px #000000;
}

.label-start-date {
  margin-top: 10px;
}
